html,
body,
#app {
    height: 100%;
}

body {
    font-size: 20px;
}

@mixin boxShadow(){
    box-shadow: 1px 2px 12px rgba(58, 51, 46, 0.1);
}

.nav > li > a:hover,.nav > li > a:focus {
    background: #fff;
}

.bg-primary{
    background: #4d52a4;
}
a{
    color:#4d52a4;
    &:hover{
        color:#e03333;
    }
}
.btn-primary{
    background-color: #4d52a4;
}

//启动页
#intro {
    position: absolute;
    left: 0;
    height: 100%;
    right: 0;
    z-index: 10;
    overflow: hidden;
    visibility: hidden;
    background-color: #fff;
}

.swipe-wrap {
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

.swipe-wrap>div {
    float: left;
    width: 100%;
    position: relative;
}

.item {
    display: flex;
    height: 100%;
    background-color: yellow;
    flex-wrap: wrap;
    font-size: .512rem;
}

.item .title {
    display: inline-block;
    width: 100%;
    margin-top: .128rem;
}

.btn-enter {
    width: 200px;
    height: 40px;
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}

#position {
    position: absolute;
    padding: 0;
    left: 50%;
    bottom: 0;
    text-align: center;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}


/* 小数点布局 */

#position li {
    width: .832rem;
    height: .832rem;
    margin: 0 .83413rem;
    display: inline-block;
    border-radius: 50%;
    background-color: #CAC2C2;
}

#position li.cur {
    background-color: black;
    opacity: .6;
}

#section {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.animation{
    flex:1;
    display:flex;
    position:relative;
}

.main {
    width:100%;
    position:absolute;
    height:100%;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow: auto;
    padding-top: 15px;
    background: #f1f1f1;
}

.header {
    height: 39px;
    @include boxShadow();
}

#footer {
    .nav {
        word-wrap: break-word;
    }
    a {
        padding: 0;
    }
}

//底部导航
#tab {
    display: flex;
    font-size: 12px;
    @include boxShadow();
    li {
        flex: 1;
    }
    .glyphicon {
        font-size: 14px;
        display: block;
        margin-bottom: 8px;
    }
    .active {
        color: #e03333;
    }
}

//技能页
.skill-item {
    position: relative;
    margin-top:10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    >div {
        width: 120px;
        height: 120px;
    }
    h5 {
        position: absolute;
        width: 120px;
        line-height: 120px;
        word-wrap: break-word;
        padding: 0 20px;
        margin: 0;
        vertical-align: middle;
    }    
}



/*-----------------------------------*/


/* Project Field */


/*-----------------------------------*/

.comment-list {
    position: relative;
    margin-bottom: 34px;
    font-size: 14px;
}

.comment-list.styled {
    margin-bottom: 30px;
}

.comment-list.styled .comment-body {
    border-left: 0 none;
    padding: 0;
    min-height: 123px;
    margin-bottom: 0;
}

.comment-list.styled .comment-text {
    padding: 25px 27px 26px 165px;
}

.comment-list.styled .comment-arrow {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 132px;
    // background: rgba(51, 122, 183, .2);
    background: #dfd9ff;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.comment-list.styled .comment-arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: 32px;
    right: -8px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 8px solid #f5f8f7;
    border-bottom: 6px solid transparent;
}

.comment-list li.comment {
    position: relative;
    margin-bottom: 10px;
    box-shadow: 1px 2px 12px rgba(58, 51, 46, 0.1);
    // border: 1px solid rgba(51, 122, 183, .2);
    border-radius: 5px;
}

.comment-avatar,
.comment-avatar .avatar,
.comment-avatar img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 80px;
    height: 80px;
}

.comment-avatar .avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.comment-avatar {
    position: absolute;
    top: 26px;
    left: 36px;
    border: 1px solid rgba(51, 122, 183, .4);
    background: #fff;
    padding: 4px;
    box-sizing: content-box;
}

.comment-list.styled .comment-avatar {
    top: 16px;
    left: 21px;
}

.comment-list.styled .comment-author {
    text-align: left;
    margin-bottom: 8px;
}
.comment-list.styled .comment-entry {
    color:rgba(38, 10, 167, 0.62);
}

.comment-list.styled .link-author {
    font-size: 26px;
    font-weight: 600;
    float: none;
    color: rgba(38, 10, 167, 0.82);
}

.comment-list.styled .link-author:hover {
    color: #8D8569;
}


/* Responsive */

@media (max-width:479px) {
    .comment-list.styled .comment-arrow {
        width: 115px;
    }
    .comment-list.styled .comment-avatar {
        left: 13px;
    }
    .comment-list.styled .comment-text {
        padding: 18px 16px 26px 134px;
    }
}


/*-----------------------------------*/


/* Project Field End */


/*-----------------------------------*/


/*-----------------------------------*/


/* Card Placeholder */


/*-----------------------------------*/

.widget_avatar {
    margin-bottom: 15px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px; // border:1px solid rgba(51, 122, 183,.4);
    box-shadow: 0px 0px 12px rgba(58, 51, 46, 0.1);
}

.widget_avatar .inner {
    position: relative;
    padding: 15px 10px 21px 111px;
    min-height: 116px;
}

.widget_avatar .avatar-image img {
    display: block;
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.widget_avatar .avatar,
.widget_avatar .avatar img,
.widget_profile .avatar,
.widget_profile .avatar img {
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 73px;
    height: 73px;
}

.widget_avatar .avatar,
.widget_profile .avatar {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 89px;
    height: 89px;
    overflow: hidden;
    border: 1px solid rgba(38, 10, 167, 0.62);;
    padding: 7px;
}

.widget_avatar h5 {
    font-size: 20px;
    font-weight: 600;
    // color: #00174a;
    color:rgba(38, 10, 167, 0.82);
}

.widget_avatar .subtitle {
    display: block;
    // color: #8e8071;
    color:rgba(38, 10, 167, 0.62);
}

.widget_avatar .post-meta-links li {
    width: 33.33333333333333%;
}

.widget_avatar .post-meta-links li a {
    padding: 10px 5px;
}

.widget_avatar .icon-post {
    margin-right: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .widget_avatar .inner {
        padding: 15px 10px 21px 100px;
    }
    .widget_avatar .avatar {
        left: 5px;
    }
}


/*-----------------------------------*/


/* Card Placeholder End */


/*-----------------------------------*/


/* Post Images */

.post-meta-links ul {
    overflow: hidden;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 0;
}

.post-meta-links li {
    float: left;
    // background: #dffff6;
    background: #f5f8f7;
    border-left: 1px solid #fff;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 200px;
    margin-bottom: -200px;
}

.post-meta-links li.post-read {
    width: 33%;
}

.post-meta-links li a {
    display: block;
    padding: 10px;
    // color: rgba(51, 122, 183, 0.7);
    color:rgba(38, 10, 167, 0.62);
}

.post-meta-links li a:hover {
    color: #e03333;
    text-decoration: none;
}

.post-meta-links li.post-read a:hover .icon-post {
    background-position: 0 -100px;
}

.post-meta-links li.post-view a:hover .icon-post {
    background-position: 0 -125px;
}

.post-meta-links li.post-comm a:hover .icon-post {
    background-position: 0 -150px;
}

.post-meta-links li.post-like a:hover .icon-post {
    background-position: 0 -225px;
}

.post-meta-links li.post-author a:hover .icon-post,
.post-meta-links li.post-date a:hover .icon-post {
    background-position: 0 -175px;
}

.post-meta-links li.first {
    border-left: 0 none;
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.post-meta-links li.last {
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.icon-post {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    margin-right: 8px;
}


/* Post Images End */

//信息页
.myphoto {
    margin-top: 10px;
}

.info {
    padding: 25px;
    margin: 20px 0;
    border-radius: 3px;
    background: #fff;
    @include boxShadow();
}

.camera {
    position: absolute;
    right: 20px;
    top: 10px;
}
.icon-left {
    position: absolute;
    left: 20px;
    top: 10px;
}



/*-----------------------------------*/
/* info Placeholder */
/*-----------------------------------*/

.widget-profile {margin-bottom: 15px;
    @include boxShadow();
}
.widget-profile .inner {padding: 24px 25px 24px 21px;}

.widget-profile .avatar {
    width: 98px;
    height: 98px;
    margin-right: 20px;
    float: left;
}
.widget-profile .avatar img {
	display: block;
    width: 100%;
    height: 100%;
}
.widget-profile h5 {
	font-size: 24px;
  color: #000000;
  text-shadow: none;
  margin-bottom:1px;
  font-weight:bold;
  margin-top:0;
}
.widget-profile .subtitle {
	display: block;
    margin-top:4px;
	margin-bottom: 20px;
    font-size: 14px;
    color: #999;
    line-height: 1;
}
.widget-profile .followers {
    display: inline-block;
    font-size: 9px;
	color: #c7c7c7;
    vertical-align: middle;
    margin-left: 8px;
    margin-top:2px;
}
.widget-profile .followers strong {display: block; font-size: 14px; color: #ee5190;text-align: right;}
.widget-profile .followers span {display: block;font-size:11px;color:#848484;}

.boxed {
    background: #fff;
    position: relative;
    z-index: 0;
}

@media (max-width: 479px), (max-width: 991px) and (min-width: 768px){
    .boxed > .inner {
        padding: 20px 10px;
    }
}
.boxed > .inner {
    padding: 22px 24px 22px;
}



//组件动画效果
.enter{
    transform: translate(-100%);
}
.enter.enter-active{
    transform: translate(0%);
    transition: all .7s cubic-bezier(0.31, 0, 0.07, 0.98);
}
.leave{
    transform: translate(0%);
}
.leave.leave-active{
    transform: translate(100%);
    transition: all .7s cubic-bezier(0.31, 0, 0.07, 0.98);
}


.project-enter{
    transform: translate(100%);
    // left:500px;
}
.project-enter.project-enter-active{
    transform: translate(0%);
    // left:0;
    transition: all .7s cubic-bezier(0.31, 0, 0.07, 0.98);
}
.project-leave{
    // left:0;
    transform: translate(0%);
}
.project-leave.project-leave-active{
    // left:-500px;
    transform: translate(-100%);
    transition: all .7s cubic-bezier(0.31, 0, 0.07, 0.98);
}



 //

 .example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}